@import 'variables.scss';

.game-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.game-grid {
    display: grid;
    grid-gap: .25rem;
    font-size: 6rem;
    width: 600px;
    height: 600px;
    position: relative;
}

.game-grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: var(--grid-cell-font-size);
    border-color: $black;
    border-style: solid;
    border-width: .5rem;
    cursor: pointer;
    user-select: none;
}
.game-grid__cell--X {
    color: $primaryColor;
}
.game-grid__cell--O {
    color: $secondaryColor;
}

.game-grid__options {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    border: .25rem solid $secondaryColor;
    color: $primaryColor;
}

.game-grid__option {
    font-weight: 700;
}

.game-grid__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 9rem;
    color: $primaryColor;
    user-select: none;
    pointer-events: none;
}

.game-grid__winner-text {
    display: none;
    width: 100%;
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.game-grid__winner-text--X {
    display: block;
    color: $primaryColor;
}
.game-grid__winner-text--O {
    display: block;
    color: $secondaryColor;
}
